body {
    font-family: Arial, sans-serif;
    background:linear-gradient(135deg, #0b0d17, #030e17) ;
    color: white;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    padding: 2rem;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.game-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.planet-selection {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 200px;
    margin-top: 0px;
}

.planet {
    border-radius: 50%;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    cursor: move;
    transition: transform 0.2s, opacity 0.2s;
}

.planet:hover {
    transform: scale(1.1);
}

.planet.placed {
    opacity: 0.5;
}