body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(203, 196, 196);
    transition: margin-right 0.3s ease;
    
}

header {
    /* background-color: #1a1a2e;  */
    height: 600px;
    color: white;
    padding: 1rem;
    text-align: center; 
    position: relative;
    object-fit: fill; 
    /* background-image: url('https://live.staticflickr.com/65535/53434228818_a7cf31b826_c.jpg'); */
    background-image: url('/Shop/photos/space2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    text-align: center;
    -webkit-text-stroke: 1px black; 
    margin: 0;
    font-size: 2.5rem;
    padding-top: 40px;
} 

.gomain{
    position: absolute;
    top: 75%;
    left: 46%;
    background-color: #16213e;
    color: white;
    border: none;
    border-radius: 10%;
    padding: 0.8rem 2rem;
    margin: 0 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-block; 
}

main {
    /* padding: 2rem; */
    padding-bottom: 2rem;
    transition: margin-right 0.3s ease;
}

.category-btn {
    background-color: #16213e;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-block; 
}
.category-btn1 {
    color:white;
    text-align: left;
    padding: 0.5rem 1rem;
    margin: 0 0.25rem;
    display: inline-block; 
}
#cart-btn {
    position: absolute;
    right: 1rem;
    background-color: #1e1e2f;
    color: white;
    border: none;
    cursor: pointer;
    
}

nav {
    top: 0;
    color: white;
    background-color: #1e1e2f;
    display: flex;
    align-items: center;
    padding: 1rem;
    position: sticky;
    z-index: 100;
} 
