body {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
    background-color: #030619;
    color: #fff;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

/* Header */
.main-header {
    background: linear-gradient(135deg, #0b0d17, #030e17);
    padding: 20px 0;
    border-bottom: 2px solid #fff;
}

.main-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
